/* RESETS */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


html {
  font: 20px/1.168;
}

a {
  text-decoration: none;
}

hr {
  margin-bottom: 1rem;
}

body {
  background-color:#e4e0e0f8;
}

input {
  min-width: 60px;
  min-height: 35px;
  padding: 7px;
}

li {
  list-style-type: none;
}

/* Application Classes */

.Receiving form {
  font-size: 35px;
}

.View_ReportsButton {
  min-width: 200px;
  min-height: 50px;
  font-size: 30px;
}

.footer {
  background-color:#2a2ae6;
  font-style: oblique;
  color: #dddddd;
  text-align: center;
}

.buttons__container {
  display: grid;
  grid-template-columns: 109px 109px 109px;
  grid-template-rows: 60px 60px 60px;
}

.main-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 3rem;
  color: black;
  background-color: #2a2ae6;
  color: azure;
  font-style: oblique;
  padding: .5rem;
}

.nav__list a {
  color: black;
}

.nav__list {
  align-self: flex-end;
  width: 100%;
  align-items: flex-end;
  display: flex;
  justify-content: center;
}

.nav__list a:hover {
  color: #1d038d;
}

.nav__list-item {
  float: right;
  margin-right: 1rem;
}

.nav__list-item:last-child {
  margin-right: 0;
}

.receiving {
  margin: 0 20rem;
}

.receiving__report {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.receiving__report-list {
  background-color: white;
  border: 1px solid black;
  border-radius: 50px;
  display: flex;
  flex-wrap: wrap;
  padding: 1.5rem;
  /* justify-content: space-around; */
}

.date__time__container {
  display: flex;
  flex-direction: row;
  margin: 0.5rem;
  background-color: #dddddd;
  padding: 0.5rem;
}

.receiving__report-list-item {
  flex: 0 1 calc(50% - 1rem);
  margin-bottom: 1.5rem;  
}

.receiving__report-list-item-info {
  flex: 0 1 calc(50% - 1rem);
  margin-bottom: 1.5rem;
}

.receiving__title {
  display: flex;
  justify-content: center;
}

.container button {
  height: 45px;
  width: 100px;
}

.vitals__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.header__trauma {
  text-align: center;
}

.header__medical {
  text-align: center;
  margin-bottom: 40px;
}

.rhythm__field {
  font-weight: bolder;
}

.narrative__textarea {
  margin-bottom: 40px;
}

.header__cardiac {
  text-align: center;
}

.container__box {
  text-align: center;
  padding-top: 1rem;
  margin-bottom: 1rem;
}

.witness__class {
  margin-left: 2rem;
}

.witness__box {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.not__class {
  margin-left: 2rem;
}

.not__box {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 2rem;
}

/* Utility Classes */

.wrapper {
  display: grid;
  grid-auto-rows: 3rem auto 2rem;
  min-height: 100vh;
}

.container {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-evenly; */
  padding-top: 15px;
  padding-bottom: 100px;
}


/* MEDIA QUERIES */

@media (min-width: 442px) {
  .main-header {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media (min-width: 800px) {
  .main-header {
    padding-left: 10rem;
    padding-right: 10rem;
  }
}